In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import imagekit
import imgkit
%matplotlib inline

In [2]:
from Drive import *

In [3]:
dir()

['GDriveAuthenticator',
 'Gdrive',
 'In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'imagekit',
 'imgkit',
 'np',
 'pd',
 'plt',
 'quit',
 'sns']

In [4]:
auth=GDriveAuthenticator.GDriveAuthenticator('Drive\\client_secret.json')
drive=Gdrive.Gdrive(auth.authenticate())

In [5]:
drive.search('Student Gradebook')

Found file: Student Gradebook ( 1HYjfEe3aCbufbqIXKs0Xz-gfoQNztGhCN1ivx0gZXnc application/vnd.google-apps.spreadsheet )

('Student Gradebook', '1HYjfEe3aCbufbqIXKs0Xz-gfoQNztGhCN1ivx0gZXnc')

In [6]:
drive.download()

Download. 100

In [7]:
excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))

In [8]:
len(excel_sheet)

3

In [9]:
d=[]
for i in excel_sheet:
    print(i)
    d.append(excel_sheet[i])

July
August
September

In [10]:
data=pd.concat(d).reset_index().drop(columns=['index'])

In [11]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0
5,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0
6,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0
7,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0
8,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0
9,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0
10,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0
11,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0
12,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Swaastik,0,7.5,10,1
13,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0
14,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0
15,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0
16,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0
17,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0
18,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0
19,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0
20,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0
21,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0
22,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0
23,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Prasoon,0,2.0,2,0
24,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Kunal,0,2.0,2,0
25,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Purbita,0,2.0,2,0
26,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Siddhishikha,0,2.0,2,0
27,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Durga,0,2.0,2,0
28,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Surabhi,0,2.0,2,0
29,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Shakib,0,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...
1372,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Durga,1,45.5,50,0
1373,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Kaushal,1,42.0,50,0
1374,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Arya,1,46.0,50,0
1375,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Kunal,1,46.0,50,0
1376,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Prasoon,1,45.0,50,0
1377,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Purbita,1,46.0,50,0
1378,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Roumyak,1,44.0,50,0
1379,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Shakib,0,47.0,50,0
1380,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Shantanu,0,47.0,50,0
1381,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Sharika,0,46.5,50,0
1382,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Sonali,0,47.0,50,0
1383,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Surabhi,0,46.0,50,0
1384,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Siddhishikha,1,44.5,50,0
1385,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Swaastick,1,47.0,50,0
1386,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Apurwa,0,47.5,50,1
1387,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Ujjainee,1,45.0,50,0
1388,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Vishal,0,45.0,50,0
1389,5,Video Resume,2019-09-17 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Anjali,0,19.5,20,1
1390,6,Online Resume,2019-09-17 00:00:00,Profile Building,"Creativity,Intent,sincerity",Anjali,0,18.0,20,0
1391,8,Github Profile Creation,13/08/2019,Profile Building,"Sincerity,Hard-work",Anjali,0,9.5,10,0
1392,3,Blog on Different data based job roles,2019-07-30 00:00:00,Introduction to Data Science,"Knowledge,Understanding,Communication,Analytic...",Anjali,0,20.5,25,0
1393,9,Blog on Data Analysis Process,23/08/2019,Data Analytics,"Analysis, communication, sincerity",Anjali,0,25.5,30,0
1394,9,Blog on Data Analysis Process,23/08/2019,Data Analytics,"Analysis, communication, sincerity",Bhavna,0,24.5,30,0
1395,12,Web Scraping,2019-09-11 08:38:11,Data Analytics,"Knowledge,Patience",Bhavna,1,9.5,10,0
1396,12,Web Scraping,2019-09-11 08:38:11,Data Analytics,"Knowledge,Patience",Siddhishikha,1,9.5,10,0
1397,0,Knowledge Sharing,2019-09-19 12:40:28,Ritual,"Consistency,Curiosity",Siddhishikha,0,1.0,1,0
1398,0,AjKyaUkhada,2019-09-19 13:42:54,Ritual,Consistency,Kunal,0,1.0,1,0
1399,0,AjKyaUkhada,2019-09-19 14:39:38,Ritual,Consistency,Siddhishikha,0,1.0,1,0
1400,0,AjKyaUkhada,2019-09-19 06:33:21,Ritual,Consistency,Roumyak,0,1.0,1,0
1401,0,AjKyaUkhada,2019-09-19 07:16:34,Ritual,Consistency,Apurwa,0,1.0,1,0

In [12]:
data_july=excel_sheet['July'].copy()
data_august=excel_sheet['August'].copy()

In [13]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [14]:
data_august.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [15]:
#data=pd.concat([data_july,data_august]).reset_index().drop(columns=['index'])

In [16]:
del data_july
del data_august

In [17]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0
5,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0
6,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0
7,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0
8,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0
9,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0
10,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0
11,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0
12,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Swaastik,0,7.5,10,1
13,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0
14,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0
15,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0
16,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0
17,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0
18,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0
19,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0
20,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0
21,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0
22,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0
23,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Prasoon,0,2.0,2,0
24,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Kunal,0,2.0,2,0
25,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Purbita,0,2.0,2,0
26,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Siddhishikha,0,2.0,2,0
27,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Durga,0,2.0,2,0
28,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Surabhi,0,2.0,2,0
29,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Shakib,0,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...
1372,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Durga,1,45.5,50,0
1373,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Kaushal,1,42.0,50,0
1374,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Arya,1,46.0,50,0
1375,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Kunal,1,46.0,50,0
1376,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Prasoon,1,45.0,50,0
1377,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Purbita,1,46.0,50,0
1378,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Roumyak,1,44.0,50,0
1379,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Shakib,0,47.0,50,0
1380,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Shantanu,0,47.0,50,0
1381,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Sharika,0,46.5,50,0
1382,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Sonali,0,47.0,50,0
1383,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Surabhi,0,46.0,50,0
1384,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Siddhishikha,1,44.5,50,0
1385,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Swaastick,1,47.0,50,0
1386,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Apurwa,0,47.5,50,1
1387,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Ujjainee,1,45.0,50,0
1388,11,Start/Country Dataset,2019-09-17 00:00:00,Data Analytics,"Knowledge,Patience",Vishal,0,45.0,50,0
1389,5,Video Resume,2019-09-17 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Anjali,0,19.5,20,1
1390,6,Online Resume,2019-09-17 00:00:00,Profile Building,"Creativity,Intent,sincerity",Anjali,0,18.0,20,0
1391,8,Github Profile Creation,13/08/2019,Profile Building,"Sincerity,Hard-work",Anjali,0,9.5,10,0
1392,3,Blog on Different data based job roles,2019-07-30 00:00:00,Introduction to Data Science,"Knowledge,Understanding,Communication,Analytic...",Anjali,0,20.5,25,0
1393,9,Blog on Data Analysis Process,23/08/2019,Data Analytics,"Analysis, communication, sincerity",Anjali,0,25.5,30,0
1394,9,Blog on Data Analysis Process,23/08/2019,Data Analytics,"Analysis, communication, sincerity",Bhavna,0,24.5,30,0
1395,12,Web Scraping,2019-09-11 08:38:11,Data Analytics,"Knowledge,Patience",Bhavna,1,9.5,10,0
1396,12,Web Scraping,2019-09-11 08:38:11,Data Analytics,"Knowledge,Patience",Siddhishikha,1,9.5,10,0
1397,0,Knowledge Sharing,2019-09-19 12:40:28,Ritual,"Consistency,Curiosity",Siddhishikha,0,1.0,1,0
1398,0,AjKyaUkhada,2019-09-19 13:42:54,Ritual,Consistency,Kunal,0,1.0,1,0
1399,0,AjKyaUkhada,2019-09-19 14:39:38,Ritual,Consistency,Siddhishikha,0,1.0,1,0
1400,0,AjKyaUkhada,2019-09-19 06:33:21,Ritual,Consistency,Roumyak,0,1.0,1,0
1401,0,AjKyaUkhada,2019-09-19 07:16:34,Ritual,Consistency,Apurwa,0,1.0,1,0

In [18]:
data=data.dropna(how='all',axis=0)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1402 entries, 0 to 1401
Data columns (total 10 columns):
id                 1402 non-null int64
Task               1402 non-null object
Date               1402 non-null object
Module             1402 non-null object
Type               1402 non-null object
Student            1379 non-null object
Late Submission    1402 non-null int64
Points             1402 non-null float64
Total              1402 non-null int64
Task Winner        1402 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 120.5+ KB

# Task column

In [20]:
data['Task'].value_counts().sort_values(ascending=False)

AjKyaUkhada                                 931
Knowledge Sharing                           119
Ajkyaukhada                                  68
Linkedin Profile create/update               23
Blog on Different data based job roles       22
Portfolio home page                          22
Blog on Machine Learning and it's impact     22
Blog on Data Analysis Process                21
Online Resume                                21
Blog and Project Pages                       21
Start/Country Dataset                        20
PPT Submission                               20
Github Profile Creation                      19
Data from API                                19
Web Scraping                                 19
Video Resume                                 19
Batsman V Bowler                             16
Name: Task, dtype: int64

AjKyaUkhada has two spellings in july data, need to fix it.

In [21]:
data.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)

In [22]:
data['Task'].value_counts().sort_values(ascending=False)

AjKyaUkhada                                 999
Knowledge Sharing                           119
Linkedin Profile create/update               23
Portfolio home page                          22
Blog on Machine Learning and it's impact     22
Blog on Different data based job roles       22
Online Resume                                21
Blog and Project Pages                       21
Blog on Data Analysis Process                21
Start/Country Dataset                        20
PPT Submission                               20
Github Profile Creation                      19
Data from API                                19
Web Scraping                                 19
Video Resume                                 19
Batsman V Bowler                             16
Name: Task, dtype: int64

# Date columns

In [23]:
data.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1402 entries, 0 to 1401
Data columns (total 10 columns):
id                 1402 non-null int64
Task               1402 non-null object
Date               1402 non-null object
Module             1402 non-null object
Type               1402 non-null object
Student            1379 non-null object
Late Submission    1402 non-null int64
Points             1402 non-null float64
Total              1402 non-null int64
Task Winner        1402 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 120.5+ KB

July has date time dtype but august doesn't, let's fix it.

In [25]:
225+746

971

In [26]:
data['Date']=pd.to_datetime(data['Date'],errors='ignore',infer_datetime_format=True,dayfirst=True)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1402 entries, 0 to 1401
Data columns (total 10 columns):
id                 1402 non-null int64
Task               1402 non-null object
Date               1402 non-null datetime64[ns]
Module             1402 non-null object
Type               1402 non-null object
Student            1379 non-null object
Late Submission    1402 non-null int64
Points             1402 non-null float64
Total              1402 non-null int64
Task Winner        1402 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 120.5+ KB

In [28]:
#data=data[(data['Date']>'2019-01-01') & (data['Date']<='2019-09-16')]
#len(data[data['Date'].dt.day==15])
#len(data)

In [29]:
#data[data['Date'].dt.day==15]

# Module Column

In [30]:
data['Module'].value_counts()

Ritual                          1118
Profile Building                 125
Data Analytics                    95
Introduction to Data Science      44
Machine Learning                  20
Name: Module, dtype: int64

No problem with module column, also no null values

# Type column

In [31]:
data['Type'].value_counts()

Consistency                                                 999
Consistency,Curiosity                                       119
Knowledge,Patience                                           74
Knowledge,Understanding,Communication,Analytical Ability     44
Intent, Creativity,Content                                   23
sincerity,Creativity,Design-sense,Writing                    22
Creativity,Intent,sincerity                                  21
Creativity, Intent                                           21
Analysis, communication, sincerity                           21
Diligence                                                    20
Sincerity,Hard-work                                          19
Creativity,Communication,Intent,Confidence                   19
Name: Type, dtype: int64

No problem in type column, nothing so to understand

# Student column

We know from above info(), data_august has some null values, let's see to it

In [32]:
data[data['Student'].isnull()]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
333,0,AjKyaUkhada,2019-08-04 02:52:50,Ritual,Consistency,NaN,0,2.0,2,0
349,0,AjKyaUkhada,2019-08-05 04:17:09,Ritual,Consistency,NaN,0,2.0,2,0
352,0,AjKyaUkhada,2019-08-05 15:47:07,Ritual,Consistency,NaN,0,2.0,2,0
372,0,AjKyaUkhada,2019-08-06 16:13:29,Ritual,Consistency,NaN,0,2.0,2,0
403,0,AjKyaUkhada,2019-08-08 00:53:47,Ritual,Consistency,NaN,0,2.0,2,0
407,0,AjKyaUkhada,2019-08-08 15:49:56,Ritual,Consistency,NaN,0,2.0,2,0
447,0,AjKyaUkhada,2019-08-10 04:11:39,Ritual,Consistency,NaN,0,2.0,2,0
458,0,AjKyaUkhada,2019-08-10 17:19:44,Ritual,Consistency,NaN,0,2.0,2,0
471,0,Knowledge Sharing,2019-08-11 02:17:18,Ritual,"Consistency,Curiosity",NaN,0,2.0,2,0
654,0,AjKyaUkhada,2019-08-20 16:36:08,Ritual,Consistency,NaN,0,2.0,2,0
679,0,AjKyaUkhada,2019-08-16 02:29:20,Ritual,Consistency,NaN,0,2.0,2,0
707,0,AjKyaUkhada,2019-08-17 16:52:55,Ritual,Consistency,NaN,0,2.0,2,0
730,0,AjKyaUkhada,2019-08-16 02:30:28,Ritual,Consistency,NaN,0,2.0,2,0
752,0,AjKyaUkhada,2019-08-16 02:33:33,Ritual,Consistency,NaN,0,2.0,2,0
928,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
943,0,AjKyaUkhada,2019-09-01 04:23:21,Ritual,Consistency,NaN,0,2.0,2,0
998,0,AjKyaUkhada,2019-09-03 16:18:05,Ritual,Consistency,NaN,0,2.0,2,0
1022,0,AjKyaUkhada,2019-09-04 17:13:39,Ritual,Consistency,NaN,0,2.0,2,0
1048,0,AjKyaUkhada,2019-09-06 03:21:22,Ritual,Consistency,NaN,0,2.0,2,0
1063,0,AjKyaUkhada,2019-09-06 18:00:36,Ritual,Consistency,NaN,0,2.0,2,0
1097,0,AjKyaUkhada,2019-09-08 16:14:06,Ritual,Consistency,NaN,0,2.0,2,0
1098,0,AjKyaUkhada,2019-09-08 16:15:16,Ritual,Consistency,NaN,0,2.0,2,0
1124,0,AjKyaUkhada,2019-09-09 17:38:42,Ritual,Consistency,NaN,0,2.0,2,0

Since, there is no way to correctly fill this data, we are just gonna drop those rows.

In [33]:
data.dropna(subset=['Student'],inplace=True)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1379 entries, 0 to 1401
Data columns (total 10 columns):
id                 1379 non-null int64
Task               1379 non-null object
Date               1379 non-null datetime64[ns]
Module             1379 non-null object
Type               1379 non-null object
Student            1379 non-null object
Late Submission    1379 non-null int64
Points             1379 non-null float64
Total              1379 non-null int64
Task Winner        1379 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 118.5+ KB

In [35]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Sudhanshu', 'Surabhi', 'Sushree', 'Swaastick',
       'Swaastik', 'Ujjainee', 'Vishal', 'Wrick'], dtype=object)

#### Spelling error fixings
From the above 2 rows, we can see that there are different names in the data, Sushree and Siddhishikha is the same person, same for Swaastik and Swaastick.

In [36]:
data.replace('Swaastik','Swaastick',inplace=True)

data.replace('Sushree','Siddhishikha',inplace=True)

In [37]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee',
       'Vishal', 'Wrick'], dtype=object)

The name problem has been resolved.

In [38]:
data.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [39]:
niteshIndex=data[data['Student']=='Nitish'].index
data.drop(niteshIndex,inplace=True)

# Total Marks of students

In [40]:
total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
total_marks

         Student  Points
0          Kunal   363.5
1        Surabhi   357.0
2          Dipam   355.5
3       Ujjainee   354.0
4         Shakib   350.0
5        Purbita   349.0
6         Vishal   340.5
7      Chandrima   337.0
8         Sonali   336.5
9        Sharika   336.0
10  Siddhishikha   333.5
11         Durga   329.0
12        Apurwa   320.0
13       Kaushal   297.0
14     Swaastick   292.0
15       Prasoon   279.0
16       Roumyak   271.5
17      Shantanu   269.0
18          Arya   213.5
19        Bhavna   211.0
20        Anjali   151.0
21         Wrick    62.5
22     Sudhanshu     8.5

In [41]:
# Task Marks
knowledge='Knowledge Sharing'
myday='AjKyaUkhada'
task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
sum().sort_values(ascending=False).reset_index()
task_marks

         Student  Points
0          Kunal   241.5
1       Ujjainee   233.0
2         Shakib   232.0
3        Surabhi   231.0
4        Purbita   231.0
5         Vishal   228.5
6   Siddhishikha   226.5
7       Shantanu   225.0
8         Sonali   224.5
9          Durga   222.0
10        Apurwa   219.0
11       Roumyak   218.5
12       Sharika   218.0
13         Dipam   217.5
14     Chandrima   213.0
15     Swaastick   206.0
16       Kaushal   200.0
17       Prasoon   184.0
18          Arya   183.5
19        Bhavna   170.0
20        Anjali   143.0
21         Wrick    46.5
22     Sudhanshu     6.5

In [42]:
# MyDay marks
myday_count=data[data['Task']==myday].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index().style.hide_index()
myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index().style.hide_index()
myday_count

In [43]:
# Knowledge Sharing marks
knowledge_marks=data[data['Task']==knowledge].groupby('Student')['Points'].sum().sort_values(ascending=False).\
reset_index().style.hide_index()
knowledge_marks

# Analysing the consistency of each student in myday and knowledge sharing rituals
For this, first we need to make a cleaning script for both the rituals, the rules to be followed are:-  
- There should be only one myday for each date, students giving more than one myday in a particular date need to be checked for
- Knowledge sharing has 2 marks, but each student is alloted a specific day in which he/she will get marks for sharing knowledge.

# Myday Cleaner Script

The data that we need for these scripts must be added to DataFrame first, they are:- Date in month (note: there is already a date column), Month, Year, Day of week.

In [44]:
data['Month']=data['Date'].dt.month_name()
data['Year']=data['Date'].dt.year
data['DayName']=data['Date'].dt.weekday_name
data['Date']=data['Date'].dt.day

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1375 entries, 0 to 1401
Data columns (total 13 columns):
id                 1375 non-null int64
Task               1375 non-null object
Date               1375 non-null int64
Module             1375 non-null object
Type               1375 non-null object
Student            1375 non-null object
Late Submission    1375 non-null int64
Points             1375 non-null float64
Total              1375 non-null int64
Task Winner        1375 non-null int64
Month              1375 non-null object
Year               1375 non-null int64
DayName            1375 non-null object
dtypes: float64(1), int64(6), object(6)
memory usage: 150.4+ KB

In [46]:
# Code to remove duplicate mydays
def mydayCleaner():
    idx=np.array([])
    for date,month in zip(data['Date'].values,data['Month'].values):
        date_mask=data['Date']==date
        month_mask=data['Month']==month
        task_mask=data['Task']=='AjKyaUkhada'
        d=data[date_mask & month_mask & task_mask].sort_values('Student')
        idx=np.append(idx,d[d.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)

In [47]:
mydayCleaner()

In [48]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Durga,1,45.5,50,0,September,2019,Tuesday
1373,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kaushal,1,42.0,50,0,September,2019,Tuesday
1374,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Arya,1,46.0,50,0,September,2019,Tuesday
1375,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kunal,1,46.0,50,0,September,2019,Tuesday
1376,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Prasoon,1,45.0,50,0,September,2019,Tuesday
1377,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Purbita,1,46.0,50,0,September,2019,Tuesday
1378,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Roumyak,1,44.0,50,0,September,2019,Tuesday
1379,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shakib,0,47.0,50,0,September,2019,Tuesday
1380,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shantanu,0,47.0,50,0,September,2019,Tuesday
1381,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sharika,0,46.5,50,0,September,2019,Tuesday
1382,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sonali,0,47.0,50,0,September,2019,Tuesday
1383,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Surabhi,0,46.0,50,0,September,2019,Tuesday
1384,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Siddhishikha,1,44.5,50,0,September,2019,Tuesday
1385,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Swaastick,1,47.0,50,0,September,2019,Tuesday
1386,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Apurwa,0,47.5,50,1,September,2019,Tuesday
1387,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Ujjainee,1,45.0,50,0,September,2019,Tuesday
1388,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Vishal,0,45.0,50,0,September,2019,Tuesday
1389,5,Video Resume,17,Profile Building,"Creativity,Communication,Intent,Confidence",Anjali,0,19.5,20,1,September,2019,Tuesday
1390,6,Online Resume,17,Profile Building,"Creativity,Intent,sincerity",Anjali,0,18.0,20,0,September,2019,Tuesday
1391,8,Github Profile Creation,13,Profile Building,"Sincerity,Hard-work",Anjali,0,9.5,10,0,August,2019,Tuesday
1392,3,Blog on Different data based job roles,30,Introduction to Data Science,"Knowledge,Understanding,Communication,Analytic...",Anjali,0,20.5,25,0,July,2019,Tuesday
1393,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Anjali,0,25.5,30,0,August,2019,Friday
1394,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Bhavna,0,24.5,30,0,August,2019,Friday
1395,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Bhavna,1,9.5,10,0,September,2019,Wednesday
1396,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Siddhishikha,1,9.5,10,0,September,2019,Wednesday
1397,0,Knowledge Sharing,19,Ritual,"Consistency,Curiosity",Siddhishikha,0,1.0,1,0,September,2019,Thursday
1398,0,AjKyaUkhada,19,Ritual,Consistency,Kunal,0,1.0,1,0,September,2019,Thursday
1399,0,AjKyaUkhada,19,Ritual,Consistency,Siddhishikha,0,1.0,1,0,September,2019,Thursday
1400,0,AjKyaUkhada,19,Ritual,Consistency,Roumyak,0,1.0,1,0,September,2019,Thursday
1401,0,AjKyaUkhada,19,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Thursday

# Knowledge cleaner script

In [49]:
data['DayName'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Thursday',
       'Saturday'], dtype=object)

In [50]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

In [51]:
knowledge_sharing_days={'Monday':['Kunal','Bhavna','Apurwa'],\
                       'Tuesday':['Chandrima','Purbita','Prasoon'],\
                        'Wednesday':['Roumyak','Kaushal','Ujjainee'],\
                       'Thursday':['Siddhishikha','Dipam','Shakib'],\
                        'Friday':['Sonali','Durga','Sonali'],\
                       'Saturday':['Swaastick','Sharika','Vishal'],\
                       'Sunday':['Anjali','Arya','Surabhi']}

In [52]:
date_month_dayname_unique=data[['Date','Month','DayName']].drop_duplicates()

In [53]:
dateMask=data['Date']==9
monthMask=data['Month']=='September'
daynameMask=data['DayName']=='Monday'
taskMask=data['Task']=='Knowledge Sharing'
temp=data[dateMask & monthMask & daynameMask & taskMask]
temp

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
1109,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0,September,2019,Monday
1111,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1113,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0,September,2019,Monday
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday

In [54]:
# official code to remove duplicate and no proper day marks of knowledge sharing
def knowledgeSharingCleaner():
    idx=np.array([])
    for date,month,dayname in zip(date_month_dayname_unique['Date'].values.tolist(),date_month_dayname_unique['Month'].values.tolist(),date_month_dayname_unique['DayName'].values.tolist()):
        dateMask=data['Date']==date
        monthMask=data['Month']==month
        daynameMask=data['DayName']==dayname
        taskMask=data['Task']=='Knowledge Sharing'
        temp=data[dateMask & monthMask & daynameMask & taskMask]

        # Below for loop filters out those rows for which students and daynames dont match
        # Example:- if dipam posts on gyan on monday, then he wont be given marks
        for index,name in zip(temp.Student.index,temp.Student.values):
            if name not in knowledge_sharing_days[dayname]:
                idx=np.append(idx,index)
        # After the first loop is run (description given on top), now it's time to filter out
        # those who put more than one post in gyan channel on the same day
        idx=np.append(idx,temp[temp.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)

In [55]:
knowledgeSharingCleaner()

In [56]:
# Make sure to change both dayname and date, otherwise false error u will think
dateMask=data['Date']==9
monthMask=data['Month']=='September'
daynameMask=data['DayName']=='Monday'
taskMask=data['Task']=='Knowledge Sharing'
temp=data[dateMask & monthMask & daynameMask & taskMask]
temp

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday

In [57]:
#idx=np.array([])

In [58]:
#np.append(idx,a)

In [59]:
#temp['Student'].index.tolist()

In [60]:
#idx=np.array([])
#for i,name in zip(temp.Student.index,temp.Student.values):
#    if name not in knowledge_sharing_days['Monday']:
#        print(i)
#        idx=np.append(idx,i)

In [61]:
#idx

In [62]:
#idx=np.array([])
#for i,name in zip(temp.Student.index,temp.Student.values):
#    if name not in knowledge_sharing_days['Monday']:
#        idx=np.append(idx,i)

In [63]:
#idx

# Marks after all cleaning

In [64]:
total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
total_marks

         Student  Points
0          Kunal   353.5
1       Ujjainee   346.0
2         Shakib   340.0
3        Surabhi   337.0
4        Purbita   335.0
5         Vishal   327.5
6   Siddhishikha   325.5
7      Chandrima   325.0
8          Durga   325.0
9          Dipam   323.5
10        Sonali   322.5
11       Sharika   313.0
12        Apurwa   306.0
13       Kaushal   287.0
14     Swaastick   272.0
15       Roumyak   267.5
16      Shantanu   261.0
17       Prasoon   251.0
18          Arya   206.5
19        Bhavna   203.0
20        Anjali   150.0
21         Wrick    60.5
22     Sudhanshu     8.5

In [65]:
# Task Marks
knowledge='Knowledge Sharing'
myday='AjKyaUkhada'
task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
sum().sort_values(ascending=False).reset_index()
task_marks

         Student  Points
0          Kunal   241.5
1       Ujjainee   233.0
2         Shakib   232.0
3        Surabhi   231.0
4        Purbita   231.0
5         Vishal   228.5
6   Siddhishikha   226.5
7       Shantanu   225.0
8         Sonali   224.5
9          Durga   222.0
10        Apurwa   219.0
11       Roumyak   218.5
12       Sharika   218.0
13         Dipam   217.5
14     Chandrima   213.0
15     Swaastick   206.0
16       Kaushal   200.0
17       Prasoon   184.0
18          Arya   183.5
19        Bhavna   170.0
20        Anjali   143.0
21         Wrick    46.5
22     Sudhanshu     6.5

In [66]:
# MyDay marks
myday_count=data[data['Task']==myday].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()
myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
myday_marks

         Student  Points
0          Kunal   106.0
1       Ujjainee   103.0
2        Surabhi   103.0
3          Dipam   103.0
4      Chandrima   101.0
5         Shakib    99.0
6          Durga    98.0
7         Vishal    97.0
8        Purbita    95.0
9        Sharika    93.0
10  Siddhishikha    91.0
11        Sonali    89.0
12        Apurwa    87.0
13       Kaushal    84.0
14     Swaastick    66.0
15       Prasoon    61.0
16       Roumyak    49.0
17      Shantanu    36.0
18        Bhavna    28.0
19          Arya    23.0
20         Wrick    14.0
21        Anjali     7.0
22     Sudhanshu     2.0

In [67]:
# Knowledge Sharing marks
knowledge_marks=data[data['Task']==knowledge].groupby('Student')['Points'].sum().sort_values(ascending=False).\
reset_index()
knowledge_marks

         Student  Points
0      Chandrima    11.0
1       Ujjainee    10.0
2         Sonali     9.0
3         Shakib     9.0
4        Purbita     9.0
5   Siddhishikha     8.0
6        Prasoon     6.0
7          Kunal     6.0
8          Durga     5.0
9         Bhavna     5.0
10       Surabhi     3.0
11       Kaushal     3.0
12         Dipam     3.0
13        Vishal     2.0
14       Sharika     2.0

In [68]:
data.shape

(1236, 13)

In [69]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Durga,1,45.5,50,0,September,2019,Tuesday
1373,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kaushal,1,42.0,50,0,September,2019,Tuesday
1374,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Arya,1,46.0,50,0,September,2019,Tuesday
1375,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kunal,1,46.0,50,0,September,2019,Tuesday
1376,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Prasoon,1,45.0,50,0,September,2019,Tuesday
1377,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Purbita,1,46.0,50,0,September,2019,Tuesday
1378,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Roumyak,1,44.0,50,0,September,2019,Tuesday
1379,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shakib,0,47.0,50,0,September,2019,Tuesday
1380,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shantanu,0,47.0,50,0,September,2019,Tuesday
1381,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sharika,0,46.5,50,0,September,2019,Tuesday
1382,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sonali,0,47.0,50,0,September,2019,Tuesday
1383,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Surabhi,0,46.0,50,0,September,2019,Tuesday
1384,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Siddhishikha,1,44.5,50,0,September,2019,Tuesday
1385,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Swaastick,1,47.0,50,0,September,2019,Tuesday
1386,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Apurwa,0,47.5,50,1,September,2019,Tuesday
1387,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Ujjainee,1,45.0,50,0,September,2019,Tuesday
1388,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Vishal,0,45.0,50,0,September,2019,Tuesday
1389,5,Video Resume,17,Profile Building,"Creativity,Communication,Intent,Confidence",Anjali,0,19.5,20,1,September,2019,Tuesday
1390,6,Online Resume,17,Profile Building,"Creativity,Intent,sincerity",Anjali,0,18.0,20,0,September,2019,Tuesday
1391,8,Github Profile Creation,13,Profile Building,"Sincerity,Hard-work",Anjali,0,9.5,10,0,August,2019,Tuesday
1392,3,Blog on Different data based job roles,30,Introduction to Data Science,"Knowledge,Understanding,Communication,Analytic...",Anjali,0,20.5,25,0,July,2019,Tuesday
1393,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Anjali,0,25.5,30,0,August,2019,Friday
1394,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Bhavna,0,24.5,30,0,August,2019,Friday
1395,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Bhavna,1,9.5,10,0,September,2019,Wednesday
1396,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Siddhishikha,1,9.5,10,0,September,2019,Wednesday
1397,0,Knowledge Sharing,19,Ritual,"Consistency,Curiosity",Siddhishikha,0,1.0,1,0,September,2019,Thursday
1398,0,AjKyaUkhada,19,Ritual,Consistency,Kunal,0,1.0,1,0,September,2019,Thursday
1399,0,AjKyaUkhada,19,Ritual,Consistency,Siddhishikha,0,1.0,1,0,September,2019,Thursday
1400,0,AjKyaUkhada,19,Ritual,Consistency,Roumyak,0,1.0,1,0,September,2019,Thursday
1401,0,AjKyaUkhada,19,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Thursday

In [70]:
total_marks

         Student  Points
0          Kunal   353.5
1       Ujjainee   346.0
2         Shakib   340.0
3        Surabhi   337.0
4        Purbita   335.0
5         Vishal   327.5
6   Siddhishikha   325.5
7      Chandrima   325.0
8          Durga   325.0
9          Dipam   323.5
10        Sonali   322.5
11       Sharika   313.0
12        Apurwa   306.0
13       Kaushal   287.0
14     Swaastick   272.0
15       Roumyak   267.5
16      Shantanu   261.0
17       Prasoon   251.0
18          Arya   206.5
19        Bhavna   203.0
20        Anjali   150.0
21         Wrick    60.5
22     Sudhanshu     8.5

In [71]:
def get_myday(name):
    myday_marks=data[data['Task']==myday].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()
    temp=myday_marks[myday_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

get_myday('Kunal')

def get_task(name):
    knowledge='Knowledge Sharing'
    myday='AjKyaUkhada'
    task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
    sum().sort_values(ascending=False).reset_index()
    temp=task_marks[task_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

def get_gyan(name):
    knowledge_marks=data[data['Task']=='Knowledge Sharing'].groupby('Student')['Points'].count().sort_values(ascending=False).\
    reset_index()
    temp=knowledge_marks[knowledge_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

get_task('Kunal')

58

241.5

In [72]:
total_marks['Task Marks']=total_marks['Student'].apply(get_task)

total_marks['MyDay Count']=total_marks['Student'].apply(get_myday)

total_marks['Knowledge Sharing Count']=total_marks['Student'].apply(get_gyan)

In [73]:
total_marks

         Student  Points  Task Marks  MyDay Count  Knowledge Sharing Count
0          Kunal   353.5       241.5           58                      3.0
1       Ujjainee   346.0       233.0           56                      6.0
2         Shakib   340.0       232.0           54                      5.0
3        Surabhi   337.0       231.0           56                      2.0
4        Purbita   335.0       231.0           52                      5.0
5         Vishal   327.5       228.5           52                      1.0
6   Siddhishikha   325.5       226.5           50                      5.0
7      Chandrima   325.0       213.0           55                      6.0
8          Durga   325.0       222.0           53                      3.0
9          Dipam   323.5       217.5           56                      2.0
10        Sonali   322.5       224.5           49                      5.0
11       Sharika   313.0       218.0           50                      1.0
12        Apurwa   306.0       219.0           48                      NaN
13       Kaushal   287.0       200.0           45                      2.0
14     Swaastick   272.0       206.0           36                      NaN
15       Roumyak   267.5       218.5           26                      NaN
16      Shantanu   261.0       225.0           22                      NaN
17       Prasoon   251.0       184.0           34                      4.0
18          Arya   206.5       183.5           14                      NaN
19        Bhavna   203.0       170.0           18                      3.0
20        Anjali   150.0       143.0            7                      NaN
21         Wrick    60.5        46.5            7                      NaN
22     Sudhanshu     8.5         6.5            1                      NaN

In [74]:
data['Month'].unique()

array(['July', 'August', 'March', 'April', 'September'], dtype=object)

In [75]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Durga,1,45.5,50,0,September,2019,Tuesday
1373,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kaushal,1,42.0,50,0,September,2019,Tuesday
1374,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Arya,1,46.0,50,0,September,2019,Tuesday
1375,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Kunal,1,46.0,50,0,September,2019,Tuesday
1376,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Prasoon,1,45.0,50,0,September,2019,Tuesday
1377,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Purbita,1,46.0,50,0,September,2019,Tuesday
1378,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Roumyak,1,44.0,50,0,September,2019,Tuesday
1379,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shakib,0,47.0,50,0,September,2019,Tuesday
1380,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Shantanu,0,47.0,50,0,September,2019,Tuesday
1381,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sharika,0,46.5,50,0,September,2019,Tuesday
1382,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Sonali,0,47.0,50,0,September,2019,Tuesday
1383,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Surabhi,0,46.0,50,0,September,2019,Tuesday
1384,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Siddhishikha,1,44.5,50,0,September,2019,Tuesday
1385,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Swaastick,1,47.0,50,0,September,2019,Tuesday
1386,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Apurwa,0,47.5,50,1,September,2019,Tuesday
1387,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Ujjainee,1,45.0,50,0,September,2019,Tuesday
1388,11,Start/Country Dataset,17,Data Analytics,"Knowledge,Patience",Vishal,0,45.0,50,0,September,2019,Tuesday
1389,5,Video Resume,17,Profile Building,"Creativity,Communication,Intent,Confidence",Anjali,0,19.5,20,1,September,2019,Tuesday
1390,6,Online Resume,17,Profile Building,"Creativity,Intent,sincerity",Anjali,0,18.0,20,0,September,2019,Tuesday
1391,8,Github Profile Creation,13,Profile Building,"Sincerity,Hard-work",Anjali,0,9.5,10,0,August,2019,Tuesday
1392,3,Blog on Different data based job roles,30,Introduction to Data Science,"Knowledge,Understanding,Communication,Analytic...",Anjali,0,20.5,25,0,July,2019,Tuesday
1393,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Anjali,0,25.5,30,0,August,2019,Friday
1394,9,Blog on Data Analysis Process,23,Data Analytics,"Analysis, communication, sincerity",Bhavna,0,24.5,30,0,August,2019,Friday
1395,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Bhavna,1,9.5,10,0,September,2019,Wednesday
1396,12,Web Scraping,11,Data Analytics,"Knowledge,Patience",Siddhishikha,1,9.5,10,0,September,2019,Wednesday
1397,0,Knowledge Sharing,19,Ritual,"Consistency,Curiosity",Siddhishikha,0,1.0,1,0,September,2019,Thursday
1398,0,AjKyaUkhada,19,Ritual,Consistency,Kunal,0,1.0,1,0,September,2019,Thursday
1399,0,AjKyaUkhada,19,Ritual,Consistency,Siddhishikha,0,1.0,1,0,September,2019,Thursday
1400,0,AjKyaUkhada,19,Ritual,Consistency,Roumyak,0,1.0,1,0,September,2019,Thursday
1401,0,AjKyaUkhada,19,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Thursday